<div class="upload">
  @if (!file()) {
    <div
      class="dropzone"
      [class.is-dragging]="isDragging()"
      (dragover)="onDragOver($event)"
      (dragleave)="onDragLeave($event)"
      (drop)="onDrop($event)"
    >
      <input
        type="file"
        class="drop-input"
        accept=".jpg,.jpeg,.png"
        [disabled]="!isAuthenticated()"
        (change)="onChange($event)"
      />
      <div class="drop-content">
        <div class="drop-icon">
          <lucide-icon [img]="UploadIcon" size="20" />
        </div>
        <p>
          @if (isAuthenticated()) {
            Click to upload or just drag and drop
          } @else {
            Sign in or sign up with Puter to upload
          }
        </p>
        <p class="help">Maximun file size 50MB</p>
      </div>
    </div>
  } @else {
    <div class="upload-status">
      <div class="status-content">
        <div class="status-icon">
          @if (progress() === 100) {
            <lucide-icon [img]="CheckCircle2" class="check" />
          } @else {
            <lucide-icon [img]="ImageIcon" class="image" />
          }
        </div>
        <h3>{{ file()?.name }}</h3>
        <div class="progress">
          <div class="bar" [style.width.%]="progress()"></div>
          <p class="status-text">
            {{ progress() < 100 ? 'Analyzing Floor Plan...' : 'Redirecting...' }}
          </p>
        </div>
      </div>
    </div>
  }
</div>
